<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Profesional</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Asegúrate de que la ruta sea correcta -->
</head>
<body class="professional">
    <header class="professional">
        <h1 class="professional">Bienvenido, <%= profesionalNombre %>!</h1>
    </header>

    <section class="professional">
        <h2>Panel del Profesional</h2>
        <nav>
            <ul>
                <li><a href="/perfil" class="professional">Ver Perfil</a></li>
                <li><a href="/historiales" class="professional">Historiales Clínicos de Pacientes</a></li>
                <li><a href="/citas" class="professional">Gestión de Citas</a></li>
                <li><a href="/cerrar-sesion" class="professional">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </section>
</body>
</html>
