<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de Autoevaluación</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Resultado de Autoevaluación</h1>
    </header>
    <main>
        <p>Tu probabilidad de padecer ludopatía es del <%= resultado %> %.</p>
        <a href="/dashboardPaciente">Volver al Panel del Paciente</a>
    </main>
</body>
</html>
